packages depending on clear
@p0tion/phase2cli
All-in-one interactive command-line for interfacing with zkSNARK Phase 2 Trusted Setup ceremonies

gurrpi
published 1.2.6 • 6 months ago
published version 1.2.6, 6 months ago
anakwadontea
- The code uses `moment.js` for date and time manipulation. - It defines an empty `periods` array to store period data (replace with actual user data storage). - The `addPeriod` function adds a new period with start and end dates to the data. - The `calcu

nodekurajin
published 1.0.3 • 10 months ago
published version 1.0.3, 10 months ago
anakketiga
nodekurajin
published 1.0.3 • 10 months ago
published version 1.0.3, 10 months ago
pileuleuyantea
nodekurajin
published 1.0.3 • 10 months ago
published version 1.0.3, 10 months ago
tehmusimhujan
enaknya teh di musim hujan

nodekurajin
published 1.0.2 • 10 months ago
published version 1.0.2, 10 months ago
patepangdeui
Calculating moon eclipses accurately requires astronomical libraries and complex celestial mechanics. However, here's a Node.js function using the astronomy-engine library (https://www.npmjs.com/package/astronomy-engine) to provide a basic indication of a

nodekurajin
published 1.0.2 • 10 months ago